In [11]:
import pandas as pd 
import os 
import json
from pandas.io.json import json_normalize
json_list = os.listdir('./json/')
json_list

['V006_80_1_01_01_01_23_1_1483y_20200928_71.jpg.json',
 'V006_80_1_01_01_01_23_1_1483y_20201005_75.jpg.json',
 'V006_80_1_01_01_01_23_1_1483y_20201029_269.jpg.json',
 'V006_80_1_01_01_01_23_1_1483y_20201030_277.jpg.json',
 'V006_80_1_01_01_01_23_1_1483y_20201030_278.jpg.json',
 'V006_80_1_01_01_01_23_1_1483y_20201102_279.jpg.json',
 'V006_80_1_01_01_01_23_1_1483y_20201102_280.jpg.json',
 'V006_80_1_01_01_01_23_1_1483y_20201102_281.jpg.json',
 'V006_80_1_01_01_01_23_1_1483y_20201102_284.jpg.json',
 'V006_80_1_01_01_01_23_1_3903y_20201007_79.jpg.json',
 'V006_80_1_01_01_01_23_1_3903y_20201007_81.jpg.json',
 'V006_80_1_01_01_01_23_1_3903y_20201015_118.jpg.json',
 'V006_80_1_01_01_01_23_1_3903y_20201015_125.jpg.json',
 'V006_80_1_01_01_01_23_1_3903y_20201015_128.jpg.json']

In [2]:
i = './json/V006_80_1_01_01_01_23_1_1483y_20200928_71.jpg.json'
with open(i, 'r') as f:
        dict = json.loads(f.read())
        df1 = pd.json_normalize(dict['description']) 
        df2 = pd.json_normalize(dict['annotations']) 
        df3 = pd.concat([df1,df2], axis=1)
df3

,image,date,worker,height,width,task,type,region,disease,crop,area,grow,risk,points
0,V006_80_1_01_01_01_23_1_1483y_20200928_71.jpg,2020/09/28,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 10, 'ytl': 835, 'xbr': 3730, 'ybr': 3..."

In [3]:
df = pd.DataFrame()
for i in json_list:
    with open('./json/'+i, 'r') as f:
        dict = json.loads(f.read())
        df1 = pd.json_normalize(dict['description']) 
        df2 = pd.json_normalize(dict['annotations']) 
        df3 = pd.DataFrame(pd.concat([df1,df2], axis=1))
        df = pd.concat([df,df3], axis=0)
df

,image,date,worker,height,width,task,type,region,disease,crop,area,grow,risk,points
0,V006_80_1_01_01_01_23_1_1483y_20200928_71.jpg,2020/09/28,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 10, 'ytl': 835, 'xbr': 3730, 'ybr': 3..."
0,V006_80_1_01_01_01_23_1_1483y_20201005_75.jpg,2020/10/05,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 1060, 'ytl': 645, 'xbr': 4370, 'ybr':..."
0,V006_80_1_01_01_01_23_1_1483y_20201029_269.jpg,2020/10/29,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 370, 'ytl': 5, 'xbr': 4010, 'ybr': 34..."
0,V006_80_1_01_01_01_23_1_1483y_20201030_277.jpg,2020/10/30,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 550, 'ytl': 645, 'xbr': 4000, 'ybr': ..."
0,V006_80_1_01_01_01_23_1_1483y_20201030_278.jpg,2020/10/30,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 970, 'ytl': 0, 'xbr': 4640, 'ybr': 34..."
0,V006_80_1_01_01_01_23_1_1483y_20201102_279.jpg,2020/11/02,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 690, 'ytl': 355, 'xbr': 3350, 'ybr': ..."
0,V006_80_1_01_01_01_23_1_1483y_20201102_280.jpg,2020/11/02,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 630, 'ytl': 155, 'xbr': 4010, 'ybr': ..."
0,V006_80_1_01_01_01_23_1_1483y_20201102_281.jpg,2020/11/02,,3024,4032,80,None,1,1,1,1,23,1,"[{'xtl': 782, 'ytl': 82, 'xbr': 3162, 'ybr': 2..."
0,V006_80_1_01_01_01_23_1_1483y_20201102_284.jpg,2020/11/02,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 430, 'ytl': 1215, 'xbr': 4130, 'ybr':..."
0,V006_80_1_01_01_01_23_1_3903y_20201007_79.jpg,2020/10/07,,3024,4032,80,None,1,1,1,1,23,1,"[{'xtl': 738, 'ytl': 0, 'xbr': 3748, 'ybr': 27..."
0,V006_80_1_01_01_01_23_1_3903y_20201007_81.jpg,2020/10/07,,3024,4032,80,None,1,1,1,1,23,1,"[{'xtl': 790, 'ytl': 432, 'xbr': 3340, 'ybr': ..."
0,V006_80_1_01_01_01_23_1_3903y_20201015_118.jpg,2020/10/15,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 335, 'ytl': 0, 'xbr': 4035, 'ybr': 27..."
0,V006_80_1_01_01_01_23_1_3903y_20201015_125.jpg,2020/10/15,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 985, 'ytl': 30, 'xbr': 4065, 'ybr': 2..."
0,V006_80_1_01_01_01_23_1_3903y_20201015_128.jpg,2020/10/15,,3480,4640,80,None,1,1,1,1,23,1,"[{'xtl': 1035, 'ytl': 0, 'xbr': 3945, 'ybr': 2..."